.hero-block{
  position: relative;
  
  .hero-text {
    p, span {
      @include make-lead;
      color: $white;
      font-weight: 400;
      letter-spacing: 1px;
      text-shadow: 1px 1px 1px $black;
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: auto;
      max-width: 100%;
    }
    
    .typewriter-text {
      display: block;
      width: 100%;
      overflow: hidden;
    }
  }
}